@media (max-width: 1300px) {
  .container {
    padding: 0 60px 0 15px;
  }
  .header__info-sublist--2 {
    right: 100%;
  }
}
@media (max-width: 1260px) {
  .products__items {
    grid-column-gap: 10px;
    .product-item {
      margin: 0 auto;
    }
    .product-item__availability {
      margin-right: 5px;
    }
    .product-item__price {
      margin-right: 5px;
    }
    .product-item__bottom {
      justify-content: space-between;
    }
    .product-item__price-inner {
      white-space: nowrap;
    }
    .product-item__inner-cart {
      justify-content: space-between;
    }
  }
  .products__filtres--active {
    margin-left: 20px;
  }
  .sorting__btn + .sorting__btn {
    margin-left: 12px;
  }
  .footer__links-social {
    flex-direction: column;
  }
  .footer__links-mail {
    margin-left: 0;
  }
  .footer__links-social-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
  }
  .header__bottom-item + .header__bottom-item {
    margin-left: 15px;
  }
  .header__bottom-list {
    justify-content: center;
  }
  .header__top-info {
    white-space: nowrap;
  }
  .header__bottom-items-wrapper {
    & + & {
      margin-left: 15px;
    }
  }
  .header__top-info {
    position: absolute;
    margin-bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    min-width: 690px;
    z-index: 1000;
  }
  .header__top-content {
    height: 71px;
    align-items: end;
    display: flex;
    position: relative;
  }
  .header__top-inner {
    flex: 1;
  }
}
@media (max-width: 1140px) {
  .products__show-filtres {
    font-size: 0;
    img {
      margin-left: 0;
    }
  }
  .products__items {
    grid-column-gap: 10px;
    .product-item {
      margin: 0 auto;
      .product-item__img-wrapper {
        height: auto;
      }
    }
  }
  .products__items--list {
    grid-column-gap: 20px;
    .product-item {
      margin: 0 auto;
      .product-item__img-wrapper {
        height: 250px;
      }
    }
  }
  .header__bottom-items-wrapper {
    & + & {
      margin-left: 0;
      margin-top: 10px;
    }
    .header__bottom-item + .header__bottom-item {
    }
  }
  .header__bottom-list {
    flex-direction: column;
  }
  .header__bottom-item {
    flex: 0 0 205px;
  }
  .header__logo-icon {
    flex: 0;
  }
  .header__logo {
    flex: 1;
  }
  .header__top-content {
    flex: 0 0 690px;
  }
}

@media (max-width: 1120px) {
  .header__logo {
    margin-bottom: 110px;
  }
}

@media (max-width: 1100px) {
  .products__items {
    grid-column-gap: 10px;
    .product-item__art {
      margin-bottom: 0;
    }
    .product-item__title {
      margin-bottom: 0;
    }
    .product-item {
      height: 425px;
    }
  }
  .products__items--filtres {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    .product-item {
      max-width: 100%;
      .product-item__img-wrapper {
        height: 250px;
      }
    }
  }
  .products__items--list {
    grid-template-columns: 1fr;

    .product-item {
      height: 250px;
    }
  }
}
@media (max-width: 1025px) {
  .sorting__btn + .sorting__btn {
    margin-left: 3px;
  }
}
@media (max-width: 992px) {
  .products__items {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }
  .products__btn-show {
    display: none;
  }
  .products__items--filtres {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    .product-item {
      max-width: 100%;
      .product-item__img-wrapper {
        height: auto;
      }
    }
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__links {
    align-items: center;
  }
  .footer__content {
    text-align: center;
    margin-bottom: 15px;
  }
  .footer__content-inner {
    justify-content: center;
  }
  .footer__links-social {
    align-items: center;
  }
  .footer__links-text {
    text-align: center;
  }
  .footer {
    padding: 40px 0 30px;
  }
  .menu-bar__block {
    width: 40px;
    height: 40px;
    .menu-bar__icon {
      width: 20px;
      height: 20px;
    }
  }
  .container {
    padding-right: 50px;
  }
  .menu-bar__cart-price {
    font-size: 20px;
  }
  .menu-bar__cart-test-btn {
    right: 5px;
    top: 5px;
  }
  .header__logo-text {
    flex: 0 0 166px;
  }
  .header__logo {
    flex: 0 0 255px;
  }
  .header__top-content {
    flex: 1;
  }
  .header__top-info {
    width: calc(100vw - 30px);
    top: 0;
    left: auto;
    right: 0;
    transform: translateX(0px);
    min-width: 0;
  }
  .header__top-search {
    position: absolute;
    top: 105px;
    width: calc(100vw - 30px);
  }
  .header__top-inner {
    justify-content: end;
  }
  .header__top {
    margin-bottom: 80px;
  }
  .header__top-search-list {
    justify-content: space-between;
  }
}
@media (max-width: 950px) {
  .header__logo {
    margin-top: -90px;
  }
}
@media (max-width: 880px) {
  .products__items {
    grid-column-gap: 10px;
  }
  .products__items--filtres {
    grid-template-columns: repeat(3, 1fr);
  }
  .sorting__btn-inner {
    display: none;
  }
  .products__btn-filtres {
    width: 100%;
    justify-content: space-between;
  }
  .products__content {
    position: relative;
  }
  div.products__filtres--active {
    width: 320px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 30px 50px 30px 30px;
    background-color: #fff;
    margin-left: 0;
    box-shadow: 0px 4px 19px 1px rgba(0, 0, 0, 0.25);
    white-space: initial;
    .filtres__price-range-from,
    .filtres__price-range-to {
      width: 110px;
    }
  }
  .products__filtres {
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 30px 50px 30px 30px;
    background-color: #fff;
    margin-left: 0;
    width: 0;
    padding: 0;
  }
  .filtres__show {
    text-align: left;
  }
  .filtres-mobile-close {
    display: flex;
  }
  .product-item__modal-content {
    overflow-y: scroll;
    height: 445px;
    flex-direction: column;
  }
  .product-item__modal-left {
    flex: none;
    max-width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .product-item__modal-body {
    padding: 30px;
  }
  .product-item__modal--active {
    padding: 0 15px;
  }
  .product-item__modal-slider-big {
    width: 350px;
    height: 350px;
  }
  .product-item__modal-slider-big-item {
    height: 350px;
  }
  .product-item__modal-slider-small {
    width: 350px;
  }
  .product-item__modal-slider-small-item {
    height: 78px;
  }
}
@media (max-width: 800px) {
  .products__items {
    grid-column-gap: 5px;
    .product-item {
      margin: 0 auto;
      height: 400px;
      .product-item__img-wrapper {
        height: 200px;
      }
    }
  }
}

@media (max-width: 780px) {
  .menu-bar div.menu-bar__cart--active {
    width: 545px;
  }
  .menu-bar__cart-show {
    width: 495px;
  }
  .menu-bar__cart-show {
    padding-top: 55px;
  }
  .menu-bar__cart-items-list {
    .product-item {
      height: 150px;
    }
    .product-item__content {
      margin-top: 20px;
      justify-content: start;
    }
    .product-item__bottom {
      position: absolute;
      right: 0;
      width: 415px;
      top: 120px;
      align-items: center;
    }
    .menu-bar__cart-item-btn-inner {
      top: 5px;
      left: 0;
    }
    .product-item__title {
      font-size: 22px;
    }
    .product-item__art {
      font-size: 16px;
    }
  }
  .menu-bar__issue-btn {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .products__items {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    .product-item {
      max-width: 100%;
    }
  }
  .header__phone-link {
    position: absolute;
    min-width: 170px;
    top: 55px;
    right: 100vw;
    transform: translateX(470px);
  }
}
@media (max-width: 665px) {
  .header__bottom-list {
    justify-content: space-between;
    flex-direction: row;
  }
  .header__bottom-items-wrapper {
    flex-direction: column;
    & + & {
      margin-top: 0;
      margin-left: 15px;
    }
  }
  .header__bottom-item {
    flex: none;
    & + & {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .header__top-search-product-item-wrapper {
    width: 70px;
    height: 62px;
    min-width: auto;
  }
  .header__top-search-product-items {
    margin-left: 10px;
  }
}
@media (max-width: 520px) {
  .products__items {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    .product-item {
      max-width: 80%;
      .product-item__img-wrapper {
        height: 235px;
      }
    }
  }
  .footer__content-tel {
    font-size: 25px;
  }
  .footer__content-inner {
    flex-direction: column;
    margin-top: 15px;
  }
  .footer__content-btn {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .product-item__modal-slider-big {
    width: 320px;
    height: 320px;
  }
  .product-item__modal-slider-big-item {
    height: 320px;
  }
  .product-item__modal-slider-small {
    width: 320px;
  }
  .product-item__modal-slider-small-item {
    height: 70px;
  }
}
@media (max-width: 430px) {
  .product-item__modal-slider-big-item {
    height: 250px;
  }
  .product-item__modal-slider-big {
    width: 250px;
    height: 250px;
  }
  .product-item__modal-slider-small {
    width: 250px;
  }
  .product-item__modal-body {
    padding: 20px;
  }
  .product-item__modal-content {
    height: 505px;
  }
  .product-item__modal-row {
    align-items: baseline;
  }
}
@media (max-width: 376px) {
  .product-item__content {
    padding: 10px;
  }

  .product-item__modal-slider-big {
    width: 220px;
    height: 220px;
  }
  .product-item__modal-slider-big-item {
    height: 220px;
  }
  .product-item__modal-slider-small {
    width: 220px;
  }
  .product-item__modal-slider-small-item {
    height: 45px;
  }
  .product-item__modal .swiper-button-next,
  .product-item__modal .swiper-button-prev {
    bottom: 0;
  }
  .product-item__modal-content {
    height: 385px;
  }
  .product-item__modal-body {
    min-height: 505px;
  }
}
