%montserrat-500 {
  font-family: 'Montserrat' , sans-serif;
  font-weight: 500;
}
%montserrat-400 {
  font-family: 'Montserrat' , sans-serif;
  font-weight: 400;
}
%montserrat-600 {
  font-family: 'Montserrat' , sans-serif;
  font-weight: 600;
}
%montserrat-800 {
  font-family: 'Montserrat' , sans-serif;
  font-weight: 800;
}
%mitr-400 {
  font-family: 'Mitr' , sans-serif;
  font-weight: 400;
}
%gotham-500 {
  font-family: 'gotham-medium' , sans-serif;
  font-weight: 400;
}